@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-color : #932566;
    --light-bg-color: #cb388e;
    --txt-color: #ddd;
    --bold-dark : #00000063;
    --mid-dark: #00000052;
    --light-dark: #00000023;
    --para-bg:#932565a6 ;
    --para-hover-bg: #932565d1;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#00000048, #00000025), url('./img/bg.gif');
    color: #ddd;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 1rem 15%;
    background-color: var(--bold-dark);
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo p {
    font-size: 12px;

}



/* main section */
.main {
    height: 84vh;
    padding: 1rem 15% ;
    background-color: var(--light-dark);
}



.search-box {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: var(--mid-dark);
    box-shadow: 0px 3px 7px var(--txt-color);
}

.search-box input {
    width: 80%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--txt-color);
}

input::placeholder {
    color: var(--txt-color);
}

.search-box button {
    width: 20%;
    padding: 12px;
    background-color: var(--bg-color);
    color: var(--txt-color);
    border: none;
    cursor: pointer;
    transition: all .5s ease;
    border-radius: 5px;

}

.search-box button:hover {
    background-color: var(--light-bg-color);
}



.weather-details {
    margin-top: 1rem;
    height: 69vh;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid var(--txt-color);
    padding: 1rem;
    border-radius: 5px;
}

.details-header {
    margin: .5rem 0;
}

.weather-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weather-info-item {
    width: 32%;
    margin-bottom: 1rem;
    height: 150px;
    box-shadow: 0 3px 6px #aaa;
    border-radius: 3px;
    transition: all .5s ease;
    background-color: var(--mid-dark);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: .5rem;
}

.weather-info-item h1 {
    padding: 1rem;
    text-align: end;
    font-size: 24px;
}

.weather-info-item p {
    background-color: var(--para-bg);
    padding: .5rem 1rem;
    border-radius: 3px;
    font-size: 14px;
}

.weather-info-item p i {
    margin-right: 5px;
    font-size: 18px;
}

.weather-info-item:hover {
    cursor: pointer;
    background-color: #00000010;
    box-shadow: 0 5px 12px var(--txt-color);
}

.weather-info-item:hover p {
    background-color: var(--para-hover-bg);
}

.weather-info {
    width: 35%;
    height: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--mid-dark);
}

/* // chart  */
#chartWrapper{
    display: none;
}
.chart {
    width: 60%;
    height: 50vh;
    padding: 1rem;
    margin: .5rem auto;
    border-radius: 10px;
    background-color: var(--txt-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#tempChart {
    height: 30vh;
}

 .chart-type-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #932565a1;
    padding: 1rem;
    border-radius: 10px;
}

.chart-type-controls button {
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--txt-color);
    color: #b01e73;
    transition: all .5s ease;
    border-radius: 15px;
}

.chart-type-controls button:hover {
    background-color: #b01e73;
    color: var(--txt-color);
}

.chart-type-btn.active-chart {
    background-color: #b01e73;
    color: var(--txt-color);
}


/* # preloader */
#preloader{
    width: 350px;
    height: 350px;
    margin: 2rem auto;
    overflow: hidden;
    border-radius: 50%;
}
#preloader img{
    width: 100%;
    box-shadow: 0 10px 20px var(--light-bg-color);
}
footer {
    width: 100%;
    height: 8vh;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 15%;
    background-color: var(--bold-dark);


}

footer i {
    font-size: 20px;
}


/* ### Media Queries  */

/* -------- #Small Size Screen -------- */
@media screen and (max-width:600px) {
    body{
        min-height: 100vh;
    }
    header nav{
        padding: 1rem;
    }
    .main{
        padding: 1rem .5rem;
    }
    .search-box{
        width: 100%;
        margin: 0 auto;
    }

    .weather-details{
        padding: .5rem;
    }

    .weather-info-item{
        width: 100%;
    }

    .chart{
        width: 100%;
    }
    #preloader{
        width: 100%;
        height: 50vh;
    }
}
